.bg-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-bg-container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
}
.heading {
  color: #cb8805;
  text-align: center;
  font-family: Roboto;
  font-size: 25px;
}
@media (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}
.question-div {
  list-style-type: none;
  padding: 0px;
}
